*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginContainer{
    width: 100vw;
   min-width: 30rem;
    height: 90vh;
    padding-top: 3rem;
    background-image: url("https://picsum.photos/800/800");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // object-fit: cover;
}

/* Formu kapsayan div  */
.loginFormContainer{
    width: 30rem;
    min-width: 18rem;
    min-height: 22rem;
    
    margin: 0 auto;
    background-color: rgba(34, 118, 171, 0.5) ;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;


   
}

/* herbir input-labeli kapsayan div  */
.inputBox{
    margin: 1rem 0;
   
}
/* input alanları  */
.inputArea{
    width: 20vw;
    min-width: 15rem;
    font-size: 1.2rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: 0.5px solid gray;
    padding-left: 0.2rem;
    margin: 0.5rem 0;


}
/* input alanlarına tıklanınca  */
.inputArea:focus{
    outline:none;
}

/* labeller  */
.labels{
    font-size: 1.4rem;
    font-weight: 520;
}

/* submit Butonu  */
.buttonSubmit{
    width: 10vw;
    min-width: 7.5rem;
    font-size:1rem;

    height: 3rem;
    border-radius: 0.3rem;
    
    padding: 0.3rem;
}

.buttonSubmit:hover{
    background-color: rgba(9, 66, 102, 0.5) !important ;

  color: white;
}
.btn1:active{
    transform: scale(0.97);
}
.btn2:active{
    transform: scale(0.97);
}


@media only screen and (max-width: 600px) {
    .inputArea{
        width: 30vw;
        font-size: 1rem;
    }
    .buttonSubmitDiv{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;


    }
    .buttonSubmit{
        width: 15rem;
        min-width: 7.5rem;
        font-size:1.3rem;
        height: 3rem;
        border-radius: 0.3rem;
        
        padding: 0.3rem;
    }
}