*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Register Container */
.registerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* Formu kapsayan div  */
.formContainer{
    width: 30vw;
    height: 69vh;
    margin: 2rem auto;
    background-color: rgba(34, 118, 171, 0.5) ;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    top:10vh;
    left:35vw;
   
   
}

/* herbir input-labeli kapsayan div  */
.inputBox{
    margin: 1rem 0;
   
}
/* input alanlar覺  */
.inputArea{
    width: 20vw;
    height: 1.8rem;
    border-radius: 0.3rem;
    border: 0.5px solid gray;
    padding-left: 0.2rem;
    margin: 0.5rem 0;


}
/* input alanlar覺na t覺klan覺nca  */
.inputArea:focus{
    outline:none;
}

/* labeller  */
.labels{
    font-size: 1.2rem;
    font-weight: 520;
}

/* submit Butonu  */
.buttonSubmit{
    width: 10vw;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: 0.5px solid gray;
    padding: 0.3rem;
}

.buttonSubmit:hover{
  background-color: rgb(168, 162, 162);

  color: white;
}
.btn1:active{
    transform: scale(0.97);
}
.btn2:active{
    transform: scale(0.97);
}
