/* all content */
.container{
    background-color: rgb(210, 221, 221);
    padding-top: 2rem;

}
.form{
    text-align: center;
    width: 100vw;
    margin-bottom:2rem;

}
/* Search input area styling */
.inputArea{
    width: 30vw;
    
    min-width: 12rem;

    height: 3rem;
    border-radius: 0.3rem;
    border: 0.5px solid gray;
    padding-left: 0.2rem;
    margin: 0.5rem 0.5rem 0;


}
/* Search button styling */

.buttonSearch{
    width: 10vw;
    min-width: 5rem;

    height: 3rem;
    border-radius: 0.3rem;
    border: 0.5px solid rgb(26, 49, 47) !important;
    padding: 0.3rem;
}

.buttonSearch:hover{
    background-color: rgba(9, 66, 102, 0.5) !important ;

  color: white;
}

/* Movie Cards Container styling */

.movieCardContainer{
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        height: auto;
    }
 
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}