@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
.navBar{
    width: 100vw;
    height: 10vh;
    background-color: darkkhaki;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position:fixed;
    z-index: 2;
    font-size: clamp(1.3rem, 1rem + 3vw, 2.5rem);
    
}
.navLink{
    
    text-decoration: none;
    color: black;
    font-weight: 520;
    margin-right: 2rem;
    font-family: 'Fuzzy Bubbles', cursive;
}
.navLink:hover{
    color:white;
}

.belowFixedDiv{
    width: 100vw;
    height: 10vh;
}
@media only screen and (max-width: 820px) {
    .navBar{
        flex-direction: column;
        height: 30vh;
        width: 100%;
        gap:2rem;
        align-self: center;
        justify-content: center;

    }
    .navBarLink{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
      
    }
    .belowFixedDiv{
        height: 30vh;
    }
    .navLink{
        margin-right: 0;
        display: block;
        border-bottom: 1px solid black;
    }
}
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 820px) {
    .navBarLink{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;
      
    }

 }